.friend{
    margin-top: 5px;
    align-content: center;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.name{
    align-items: flex-end;
    display: flex;
}
.avatar{

    display: flex;
}
.img{
    display: block;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(30, 80, 190);
    border-radius: 50%;        
}
