.massages_list{
  grid-area: mess;
  display: flex;
  flex-direction: column;
}
.massages_list_item{
  width: max-content;
  height: max-content ;
  display: flex;
  background:rgb(214, 223, 224);
  margin: 5px;
  padding: 10px;
  border: 3px solid darkturquoise;
  border-radius: 0 20px 20px 20px;
  word-wrap: break-word;
}
