.posts{
    width: 100%;
    grid-area: p;
}

.form{
  width: 90%;
  margin-left: 30px;
    margin-top: 20px;
    display: flex;
    border: 3px solid darkturquoise;
    border-radius: 15px;
    overflow: hidden;
  }
  input {
    display: flex;
    border: transparent;
    background: rgb(245, 191, 238);
    padding: 10px;
  }
  input:focus{
    background: rgb(81, 206, 43);
  }
  
  textarea{
    border: transparent;
    padding: 15px 0 0 20px ;
    display: flex;
    resize: none;
    width: 90%;
  }