.formT{
    margin-top: 10px;
    width: inherit;
    display: flex;
    border-radius: 17px;
    margin-left: 8px;
    height: 43px;
    border: 3px solid darkturquoise;
}
.formI{
    width: inherit;
    display: flex;
    border-radius: 15px;
    margin-left: 8px;
    height: 43px;
    outline: none;
}
.button{
  border : none;
  border-radius:  0px  10px 10px 0px   ;
  background-color: darkturquoise;
  padding-left: 5px;
  display:  inline-flex;
  height: 100%;
  transition:all 0.3s ease;
  outline: none;
}
.button:hover{
    background-color: rgb(73, 240, 73);
}
.textarea{
    resize: none;
    border-radius: 10px 0px 0px 10px  ;
    display: inline-flex;
    border : none;
    padding-left: 10px;
    background: white;
    min-width: 400px;
    width: 90%;
    height: 100%;
    outline: none;
    transition:all 0.3s ease;
}
.textarea:focus{
    background: rgb(226, 221, 221);

}
.withError{
    border: 3px solid red;
}
.error{
    width: max-content;
    display: flex;
    color: rgb(2, 0, 0);
    margin-left: 13px;
    transition:all 0.3s ease;
    background: rgb(226, 8, 8);
    border-radius: 0px 0px 10px 10px  ;
    padding: 7px;
    margin-top: -7px;
}
.withError.button{
    border: none;
    background: red;
    color: white;
}

.login{
    font-style: italic;
    
    border: none;
    margin-top: 5px;
    height: 30px;
    width: 200px;
    padding-left: 10%;
    outline: none;
    transition:all 0.3s ease;
}
.login:focus{
    font-style: normal;
    border: 1px solid rgb(31, 211, 231);
}
.login.withError{
    border: 3px solid red;
}