.info{
width: 100%;
grid-area: r;
}
.text {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px 0 0 20px;
    margin: 0 23px 0 0 ;
    height: 100%;
    background: rgb(214, 223, 224);
  }
  .text h3{
      font-size: 34px;
  }
  