.post{
    margin: 20px 0 0 30px;
    padding: 10px;
    display: flex;
    width: 91%;
    align-items: center;
    background: rgb(214, 223, 224);
    border-radius: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.title img{
margin-right: 20px;
height: 50px;
width: 50px;
border: 2px solid rgb(30, 80, 190);
border-radius: 50%;
}
.like img{
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0;
}
.name{
    font-weight: 600;
}
.title{
    align-items: center;
    width: 100%;
    display: flex;
}
.content{
    margin-top: 4px;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.message{
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid #da2;
}
.like{
 width: 100%;
 display: inline-flex;
 align-items: center;
 margin: 10px 0 0 10px;
}
.like_count{

}