.header{
    grid-area: h;
    display: flex;
    background: rgb(82, 160, 248);
  }
  .header img{
    margin-left: 50px;
    width: 40px;
  }
.header__logo{
      color: cornsilk;
      font-weight: 900;
      font-size: 30px;
      margin-left: 50px;
  }