.header{
    grid-area: h;
    display: flex;
    background: rgb(82, 160, 248);
    justify-content: space-between;
  }
  .header img{
    margin-left: 50px;
    width: 40px;
  }
.header__logo{
  display: flex;
      color: cornsilk;
      font-weight: 900;
      font-size: 30px;
      margin-left: 50px;
}
.header_user_info{
display: flex;
color: cornsilk;
font-weight: 900;
font-size: 30px;
margin-left: 50px;
}
.header_login{
display: flex;
color: cornsilk;
font-weight: 900;
font-size: 30px;
margin-left: 50px;
}
.header_form{
  display: flex;
  align-self: center;
}
.login{
  display: flex;
  margin-right: 20px;
}
.button{
  justify-content: center;
  margin: auto;
  width: 80%;
  background-color: rgb(7, 251, 235);
  border: 2px solid rgb(138, 149, 150);
  border-radius: 10px;
  display: flex;
  height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  padding: 4px;
  transition:all 0.3s ease;
}
.button:hover{
  background-color: rgb(236, 25, 18);
}
