.user{
    margin: auto;
    display: flex;
    justify-content: space-evenly   ;
    height: 90px;
    width: 90%;
    margin: 20px;
    margin-left: 50px; 
    align-items: center;
    background: rgb(214, 223, 224);
    border: 2px solid rgb(214, 223, 224);
    border-radius: 20px;
}
.name{
    text-align: center;
    min-width: 200px;
}
.avatar img{
    width: 80px;
    height: 80px;
    border: 1px solid #4fc2fb;
    border-radius: 50%;
}

button{
    height: 50px;
    width: 100px;
    border:  2px solid #222;
    font-size: 1em;
}
.follow{

    background: rgb(28, 179, 38);
}
.unfollow{
    background: rgb(189, 34, 34);
}
