.container{
  display: grid;
  width: 1140px;
  margin: auto;
  grid-template-areas:"h h" 
  "n c"
  "f f";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 10fr;
}
.app-wrapper{
background: rgb(82, 160, 248);
width: 100%;
height: 100vh;
overflow:scroll;
}
